<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2085</key>
	<string>小黄人</string>
	<key>1000</key>
	<string>默认主题</string>
	<key>2105</key>
	<string>白色极简</string>
	<key>1102</key>
	<string>夜间模式</string>
	<key>1103</key>
	<string>夜间模式</string>
	<key>2015</key>
	<string>蒙娜丽莎</string>
	<key>2097</key>
	<string>棕色简约</string>
	<key>2099</key>
	<string>一米阳光</string>
	<key>2100</key>
	<string>落樱缤纷</string>
	<key>2101</key>
	<string>流金岁月</string>
	<key>2022</key>
	<string>框框哒</string>
	<key>2103</key>
	<string>极地雪</string>
	<key>2013</key>
	<string>白色简约</string>
	<key>2059</key>
	<string>机械战警</string>
</dict>
</plist>
