  <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChatBubble</key>
	<dict>
		<key>ReceiveStretchablePoint</key>
		<string>{36,24}</string>
		<key>SendStretchablePoint</key>
		<string>{36,24}</string>
	</dict>
	<key>TabBarButton1</key>
	<dict>
		<key>ShowsTitle</key>
		<true/>
		<key>TabBarIconCenter</key>
		<string>{54,18}</string>
		<key>TabBarTitleCenter</key>
		<string>{54,42}</string>
		<key>UnreadIconCenter</key>
		<string>{72,10}</string>
		<key>UnreadIconCenterHighlighted</key>
		<string>{72,10}</string>
	</dict>
	<key>TabBarButton2</key>
	<dict>
		<key>ShowsTitle</key>
		<true/>
		<key>TabBarIconCenter</key>
		<string>{54,18}</string>
		<key>TabBarTitleCenter</key>
		<string>{54,42}</string>
		<key>UnreadIconCenter</key>
		<string>{78,10}</string>
		<key>UnreadIconCenterHighlighted</key>
		<string>{78,10}</string>
	</dict>
	<key>TabBarButton3</key>
	<dict>
		<key>ShowsTitle</key>
		<true/>
		<key>TabBarIconCenter</key>
		<string>{54,18}</string>
		<key>TabBarTitleCenter</key>
		<string>{54,42}</string>
		<key>UnreadIconCenter</key>
		<string>{72,10}</string>
		<key>UnreadIconCenterHighlighted</key>
		<string>{72,10}</string>
	</dict>
	<key>TabBarButton4</key>
	<dict>
		<key>ShowsTitle</key>
		<true/>
		<key>TabBarIconCenter</key>
		<string>{54,18}</string>
		<key>TabBarTitleCenter</key>
		<string>{54,42}</string>
		<key>UnreadIconCenter</key>
		<string>{72,10}</string>
		<key>UnreadIconCenterHighlighted</key>
		<string>{72,10}</string>
	</dict>
	<key>ColorTable</key>
	<dict>
		<key>kNavigationBarTitleColor</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kNavigationBarButtonTitleColorNoraml</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kNavigationBarButtonTitleColorHighlighted</key>
		<string>0xff,0xff,0xff,0.4</string>
		<key>kNavigationBarButtonTitleColorDisabled</key>
		<string>0xd0,0xd0,0xd0,0.6</string>
		<key>kNavigationBarButtonTitleColorSelected</key>
		<string>0xa9,0xd6,0xcd,1</string>
		<key>kTableMenuTextColorNormal</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kTableMenuTextColorSelected</key>
		<string>0x01,0x11,0x2a,1</string>
		<key>kTextFieldTextColor</key>
		<string>0x00,0xca,0xbe,1</string>
		<key>kTextFieldPlaceholderTextColor</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kContentTitleTextColor</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kContentDescriptionTextColor</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kContentKeywordTextColor</key>
		<string>0x54,0x99,0xa9,1</string>
		<key>kUrlTextColorNormal</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kUrlTextColorHighlighted</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kTabBarItemTitleColorNormal</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kTabBarItemTitleColorHighlighted</key>
		<string>0x00,0x08,0x14,1</string>
		<key>kSearchBarCancelButtonTitleColorNormal</key>
		<string>0xff,0xff,0xff,0.8</string>
		<key>kSearchBarCancelButtonTitleColorHighlighted</key>
		<string>0xff,0xff,0xff,1</string>
                <key>kSearchRecordLastKeywordNormal</key>
		<string>0xa9,0xd6,0xcd,1</string>
                <key>kSearchRecordLastKeywordHighlight</key>
		<string>0xa9,0xd6,0xcd,1</string>
		<key>kTableViewSeparatorColor</key>
		<string>0x54,0x99,0xa9,1</string>
		<key>kTableViewCellBackgroundColorNormal</key>
		<string>0xff,0xff,0xff,0</string>
		<key>kTableViewCellBackgroundColorHighlighted</key>
		<string>0xff,0xff,0xff,0.1</string>
		<key>kTableViewCellUnreadBackgroundColorNormal</key>
		<string>0xff,0xff,0xff,0.2</string>
                <key>kTableViewCellHeadCellBackgroundColor</key>
                <string>0x12,0x5f,0x77,0</string>
                <key>kTableViewCellHeadCellBackgroundColorHighlighted</key>
                <string>0x12,0x5f,0x77,0.4</string>
                <key>kTableViewCellNormalCellBackgroundColor</key>
                <string>0x12,0x5f,0x77,0.2</string>
                <key>kTableViewCellNormalCellBackgroundColorHighlighted</key>
                 <string>0x12,0x5f,0x77,0.6</string>
		<key>kTableViewCellTextLabelTextColorNormal</key>
		<string>0xb5,0xff,0xfa,1</string>
		<key>kTableViewCellTextLabelTextColorHighlighted</key>
		<string>0xb5,0xff,0xfa,0.8</string>
		<key>kTableViewCellDetailTextLabelTextColorNormal</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kTableViewCellDetailTextLabelTextColorHighlighted</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kTableViewCellDetailTextLabelTextColorDisabled</key>
		<string>0xff,0xff,0xff,0.8</string>
		<key>kTableViewCellTimeColorNormal</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kTableViewCellTimeColorHighlighted</key>
		<string>0xff,0xff,0xff,0.5</string>
		<key>kTableViewCellVipNicknameColorNormal</key>
		<string>0xef,0x85,0x85,1</string>
		<key>kTableViewCellVipNicknameColorHighlighted</key>
		<string>0xef,0x85,0x85,0.5</string>
		<key>kDynamicTopItemtitleColor</key>
		<string>0xb5,0xff,0xfa,1</string>
		<key>kAioTimeLabelTextColor</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kAioPublicAccountMenuItemTitleColor</key>
		<string>0x10,0x41,0x4d,1</string>
		<key>kAioPublicAccountMenuItemTitleHighlightColor</key>
		<string>0x10,0x41,0x4d,0.6</string>
		<key>kAioReceiveMessageTextColor</key>
		<string>0x00,0xca,0xbe,1</string>
		<key>kAioSendMessageTextColor</key>
		<string>0x10,0x41,0x4d,1</string>
		<key>kAioSendMessageUrlTextColor</key>
		<string>0x00,0x79,0xff,1</string>
		<key>kVideoChatCellTextColorMiss</key>
		<string>0xef,0x85,0x85,1</string>
		<key>kAioRichPanelBackgroundColor</key>
		<string>0x14,0xa7,0x91,1</string>
		<key>kAioRichPanelButtonTitleColor</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kRefreshControlShapeFillColor</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kRefreshControlShapeStrokeColor</key>
		<string>0xff,0xff,0xff,1</string>
		<key>kRefreshControlArrowFillColor</key>
		<string>0xff,0xff,0xff,1</string>
	</dict>
	<key>Others</key>
	<dict>
		<key>StatusBarStyleLightContent</key>
		<true/>
	</dict>
	<key>ThemeVersion</key>
	<string>1.0.0</string>
</dict>
</plist>
